[
  {
    "CoreName": "solruser",
    "CoreConfigFilePath": "<absolute-or-repo-relative-path-to-core-conf>",
    "VolumeConfigNamespace": "default",
    "ResetData": false
  },
  {
    "CoreName": "solrinvite",
    "CoreConfigFilePath": "<absolute-or-repo-relative-path-to-core-conf>",
    "VolumeConfigNamespace": "default",
    "ResetData": false
  }
]
